.modal-content-sm {
	width: 30%;
}

.modal .w3-container {
	padding: 10px;
}

.modal .w3-display-topright {
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 15px;
}

.modal .w3-display-topright:hover {
	color: red;
}