/*=============== Common ================*/

.title{
	color:#009688;
	font-weight: bold;
}

.content{
	margin-top:80px;
}

.box-list{
	height: 160px;
	position: relative;
	overflow: hidden;
}

.box-list .box-list-action{
	position: absolute;
	margin:0 auto;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:-20px;
	-webkit-transition: all  0.3s;
    -moz-transition: all  0.3s;
    -ms-transition: all  0.3s;
    -o-transition: all  0.3s;
    transition: all  0.3s;
}

.box-list:hover .box-list-action{
	top:0px;
}

.box-list .w3-card i{
	color:#009688;
	font-size: 80px;
}

.btn-action a{
	min-width: 150px;
}

.box-list-card{
	border-left: 5px solid #009688;
	border-top: 1px solid #009688;
	border-right: 1px solid #009688;
	border-bottom: 1px solid #009688;
}

/*=============== Home page ================*/
.home-title{
	font-size: 25px;
	font-weight: bold;
	color: #009688;
}

.home-menu{
	min-height:300px;
}

.home-menu i{
 	font-size: 120px;
 	color:#009688;
 	cursor: pointer;
 	-webkit-transition: all  0.3s;
    -moz-transition: all  0.3s;
    -ms-transition: all  0.3s;
    -o-transition: all  0.3s;
    transition: all  0.3s;
}

.home-menu > i:hover{
 	font-size: 150px;
 	color:#ff5722;
}

/*============== Payment =============*/
.payment-room-title{
	color:#009688;
	font-weight: bold;
	width: 50%;
}
.payment-room-master{
	width: 50%;
	text-align: right;
	color:#009688;
	font-weight: bold;
}

/*============= Input data ================*/

.form-input input
,.form-input select {
	width: 50%;
}

.is-error {
	border: 1px solid red !important;
}

label.lbl-error {
	margin-top: 5px;
	margin-bottom: 0;
	color: red;
}

