<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/main}">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="main-content">
			<h1 class="page-title">Danh sách sinh viên</h1>
			<div class="page-content">
				<a th:href="@{/student/input}" class="btn btn-lg">Thêm sinh viên</a>
				<div class="pagination-number-record">
                    <label for="">Số lượng hiển thị</label>
                    <select name="" id="" class="form-control">
                        <option value="">10</option>
                        <option value="">50</option>
                        <option value="">100</option>
                        <option value="">200</option>
                    </select>
                </div>
                <table class="tbl">
                	<tr>
		                <th>Tên</th>
		                <th>Phòng</th>
		                <th>Lớp</th>
		                <th>Giới tính</th>
		                <th>Số điện thoại</th>
		                <th class="cl-action">#</th>
		            </tr>
		            <tr th:each="student : ${studentList}">
		                <td th:text="${student.name}"></td>
		                <td th:text="${student.room.name}"></td>
		                <td th:text="${student.classRoom.name}"></td>
		                <td th:text="${student.gender ? 'Nam' : 'Nữ'}"></td>
		                <td th:text="${student.phoneNumber}"></td>
		                <td>
		                	<a class="btn btn-sm" th:href="@{/student/update(id=${student.id})}">Cập nhật</a>
		                	<a class="btn btn-sm btn-fourth" th:myhref="@{/student/delete(id=${student.id})}">Xóa</a>
		                </td>
		            </tr>
                </table>
                <div class="pagination">
                    <a href="" class="btn btn-sm">Đầu</a>
                    <a href="" class="btn btn-sm">Trước</a>
                    <a class="pagination-active">1</a>
                    <a href="" class="btn btn-sm">2</a>
                    <a href="" class="btn btn-sm">3</a>
                    <a href="" class="btn btn-sm">Sau</a>
                    <a href="" class="btn btn-sm">Cuối</a>
                </div>
			</div>
		</div>
    	<!-- Modal -->
<!-- 		<div class="w3-modal modal jsConfirmDeleteModal"> -->
<!-- 			<div class="w3-modal-content modal-content-sm"> -->
<!-- 				<header class="w3-container w3-teal"> -->
<!-- 					<span class="w3-button w3-display-topright jsCloseModal">&times;</span> -->
<!-- 					<h2>Bạn có muốn xóa không?</h2> -->
<!-- 				</header> -->
<!-- 				<div class="w3-container"> -->
<!-- 					<div class="w3-right"> -->
<!-- 						<a class="w3-btn w3-teal w3-margin-right jsCloseModal">Không, đóng lại</a> -->
<!-- 						<a class="w3-btn w3-red w3-right jsBtnDelete">Xóa</a> -->
<!-- 					</div> -->
					
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->

		<!-- End Modal -->
	</div>
</body>
</html>